<div class="main" id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
    		<h1>Create and share stories</h1>
        <%= link_to('/about') do %>
    			<div class="btn btn-primary">Learn More</div>
        <% end %>
    	</div>
    </div>
  </div>
</div>

<div class="supporting">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
    		<h1>Relive and share your adventures</h1>
        <h3>Stories automatically creates a digital journal filled with only your best photos.</h3>
    	</div>
    </div>
  </div>
</div>

<div class="supporting_two">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
    		<!-- background goes here -->
    	</div>
    </div>
  </div>
</div>

<div class="supporting">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
    		<h1>Discover Stories</h1>
        	<%= link_to('/about') do %>
    				<div class="btn btn-primary">Learn More</div>
        	<% end %>
    	</div>
    </div>
  </div>
</div>
