// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Montserrat', sans-serif;
  font-size: 100;
}

// Main Section
.main {
  height: 700px;
  text-align: center;
  background: url(https://photos-3.dropbox.com/t/2/AAAgfEGFT8U2jE4l-9jjfpc8-sHMlzx_K0Levcjx-qyaDw/12/70260467/jpeg/32x32/1/_/1/2/old-school-print-kimberly.jpg/EJm90zYYuwEgAigC/8iR0eLRIQemA1xFCyx1HV6_iIy84heWuo0Si2cfFKNg%2CN0AFmp_8rvBgJkc8S2aPdnU5Wj9GvjiS1qAQ8uk0jTI?size=2048x1536&size_mode=3) center;
  background-size: cover;
}

//  Supporting Section
.supporting {
  margin-top: 120px;
  margin-bottom: 120px;
  text-align: center;
}
.supporting h1 {
  color: black;
  margin: 0px 0px 40px 0;
}
.supporting_two {
  background: url(https://photos-5.dropbox.com/t/2/AAANmEI_NQoZL1DVx3RtcfcrNImA-5uQ4Qh4jUt5bxBjWw/12/70260467/jpeg/32x32/1/_/1/2/phone-aaron-burden.jpg/EJm90zYYvAEgAigC/TqbmqMNxOjB4ZcVrrI1cIzrztzhn2BE340mnoZbK2-Q?size=2048x1536&size_mode=3) center;
  background-size: cover;
  height: 500px;
}

//  About Section
.about {
  height: 700px;
  text-align: center;
  background: url(https://photos-6.dropbox.com/t/2/AACfbCdqPq-9P2vmIcBFvuwlQIJga_bdzUrhuOm7-gku-Q/12/70260467/jpeg/32x32/1/_/1/2/fkyhynowp-4-jakob-owens.jpg/EJm90zYYvQEgAigC/kl1LQx0YctIF1nc3RTJlCfOkrCfW6XH9FEMezeRooZo%2CilPQU0SItHdg1OPwb_enPYCfLilWIMC0ur_bN9oXvZA?size=2048x1536&size_mode=3) center;
  background-size: cover;
  color: white;
}
.about h1 {
  position: relative;
  margin-top: 165px;
}

// Footer Sectiion
.footer {
  text-align: center;
  background-color: #ccc;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer h5 {
  color: #efefef;
  font-family: 'Roboto';
}

h1 {
  color: white;
  margin-top: 275px;
  font-weight: 100;
  margin-bottom: 45px;
}
h3 {
  font-weight: 100;
  margin-bottom: 45px;
}
.btn {
  border-radius: 0;
  padding: 10px 30px;
  font-weight: 300;
  background-color: #0097A7;
  border: 1px solid #0097A7;
}
.btn:hover {
  background-color: #00ACC1;
  border: 1px solid #00ACC1;
}
.my_form {
  text-align: left;
}
.form {
  padding: 10px 30px;
  margin-bottom: 15px;
  border: none;
  border-left: 3px solid #fff;
  transition: border-left 0.5s linear;
}
.form:focus {
  outline: none;
  box-shadow: none;
  border-left: 3px solid #0097A7;
}
